.contain > div {
    display: inline-block;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 45px;
    font-size:.7em;
    margin-left: 50px;
}

#geneName{
  text-align: center;
  padding-bottom: 2em;
  padding-top:1.5em;
  border-bottom: 1px solid lightgray;
}

/*the modal*/
#EFP {
position: absolute;
top:1%;
left:80%;
}

.BarGraph,.Raw,.Ortho {
  position: relative;
  border-top: solid lightgray 2px;
  top:0px;
  padding-left: 15px;
}


.myButton{
  border: none;
  padding: 0;
  background: none;
  position:absolute;
  top:10px;
  margin-left:90%;
}

.outer{
  width:100%;
  text-align: center;
}
.inner{
  display: inline-block;
}




.efp_container{
    position:relative;
    height:200px;
    pointer-events: none;
}

.efp_img{
	position: absolute;
    width:175px;
}

.left {
    left:0px;
}

.center{
	left:200px;
}

.right{
	left:400px;
}

.really_right{
  left:600px;
}

.really_really_right{
  left:800px;
}
