doctype html
html.no-js(lang='en')
  head
    script.
      $(document).ready(function () {
      $('.dropdown-toggle').dropdown();
      $('#check').click(function () {
      var allFilled = true;
    
      $(':input:not(:button)').each(function(index, element) {
      if (element.value === '') {
      allFilled = false;
      }
      });
    
      alert(allFilled);
      });
      });

    // title and meta
    meta(charset='utf-8')
    meta(content='width=device-width,initial-scale=1.0', name='viewport')
    title Events
    // css
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Slab')
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    //link(rel="stylesheet",href="https://raw.githubusercontent.com/noreiller/bootstrap-modal-carousel/master/src/less/carousel-fit.less")
    script(src="/javascripts/bootstrap.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src='/javascripts/bootstrap.min.js')
    //script(src='https://raw.githubusercontent.com/noreiller/bootstrap-modal-carousel/master/src/js/modal-carousel.js')
    link(rel='stylesheet', href='/stylesheets/submenu.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    style.
      #test,#test2{
      font-size: 1em;
      }
      li{
      font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
      font-size:16px;
      }
      .previous-events{
      padding:.5em;
      }
      .photo_tab{
      text-align:right
      }
      .modal.and.carousel {
      position: fixed; // Needed because the carousel overrides the position property
      height:80%;
      }
      button{
      padding: 0;
      border: none;
      background: none;
      color: purple;
      }
  body.bg
    nav.navbar-default
      .container-fluid
        ul.nav.navbar-default.navbar-nav.navbar
          li
            a(href='/') Home
          li
            a(href='/about') About
          li.active
            a.active-page(href='/events') Events
          li
            a(href='/publications') Publications
          li
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Tools
              b.caret
            ul.dropdown-menu.multi-level
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Fragaria vesca
                ul.dropdown-menu
                  li
                    a(href='http://mb3.towson.edu/efp/cgi-bin/efpWeb.cgi') EFP
                  li
                    a(href='http://fv.rosaceaefruits.org/') Coexpression Network
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Rubus idaeus
                ul.dropdown-menu
                  li
                    a(href='/rubus_form') EFP
                  li
                    a(href='/rubus_batch_form') Batch Analysis

              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Prunus persica
                ul.dropdown-menu
                  li
                    a(href='/peach_form') EFP
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Malus domestica
                ul.dropdown-menu
                  li
                    a(href='/apple_form') EFP
              li
                a(href='/compare') Compare
    .jumbotron
        .container
          h2.text-center Summer Bioinformatics Workshop For High School Teachers
          h4.text-center Coming 2019!
          h4.text-center July 30-August 3, 2018
  

        
    .previous-events
        h3 Previously Held Events
        table.table.table-condensed
          thead
          tbody
            tr
              td July 30-August 3, 2018: Summer Bioinformatics Workshop For High School Teachers (at University of Maryland, College Park)
              td
                button(type='button', data-toggle='modal', data-target='#workshop2018') Photos
                  span.glyphicon.glyphicon-camera
            tr
              td January 31, 2018: Project meeting held at USDA-ASR-Appalachian Fruit Research Station
              td
                button(type='button', data-toggle='modal', data-target='#meeting2018') Photos
                  span.glyphicon.glyphicon-camera
            tr
              td July 24-28, 2017 Summer Bioinformatics Workshop (At Shepherd University, West Virginia)
              td
                button(type='button', data-toggle='modal', data-target='#summerworkshop2017') Photos
                  span.glyphicon.glyphicon-camera
            tr
              td April 5, 2017: Project meeting held at USDA-ASR-Appalachian Fruit Research Station
              td
                button(type='button', data-toggle='modal', data-target='#fruitfarm') Photos
                  span.glyphicon.glyphicon-camera
            tr
              td Dec. 14, 2016 Lectures given to high school students on the topics of "Bioinformatics", 'GMO", and "STEM" education at a charter school in College Park, MD.
              td
                button(type='button', data-toggle='modal', data-target='#lecture') Photos
                  span.glyphicon.glyphicon-camera
            tr
              td On August 8-12, 2016, a Summer Teacher's Workshop for bioinformatics was successfully held
              td
                button(type='button', data-toggle='modal', data-target='#summerworkshop') Photos
                  span.glyphicon.glyphicon-camera
            tr 
              td Oct. 13, 2015: Project kickoff meeting at Univ. of Maryland

        #workshop2018.modal.fade.and.carousel.slide
          .modal-dialog
            .modal-content
              .modal-body
                ol.carousel-indicators
                  li.active(data-target='#workshop2018', data-slide-to='0')
                  li(data-target='#workshop2018', data-slide-to='1')
                  li(data-target='#workshop2018', data-slide-to='2')
                .carousel-inner
                  .item.active
                    img(src='/images/workshop1.jpg', alt='First slide',height="300")
                  .item
                    img(src='/images/workshop2.jpg', alt='Second slide',height="300")
                  .item
                    img(src='/images/workshop3.jpg', alt='Third slide',height="300")
                // /.carousel-inner
                a.left.carousel-control(href='#workshop2018', role='button', data-slide='prev')
                  br
                  span.glyphicon.glyphicon-chevron-left
                a.right.carousel-control(href='#workshop2018', role='button', data-slide='next')
                  span.glyphicon.glyphicon-chevron-right

        #meeting2018.modal.fade.and.carousel.slide
          .modal-dialog
            .modal-content
              .modal-body
                ol.carousel-indicators
                  li.active(data-target='#meeting2018', data-slide-to='0')
                  li(data-target='#meeting2018', data-slide-to='1')
                .carousel-inner
                  .item.active
                    img(src='/images/farm1.jpg', alt='First slide',height="300")
                  .item
                    img(src='/images/farm2.jpg', alt='Second slide',height="300")
                // /.carousel-inner
                a.left.carousel-control(href='#meeting2018', role='button', data-slide='prev')
                  br
                  span.glyphicon.glyphicon-chevron-left
                a.right.carousel-control(href='#meeting2018', role='button', data-slide='next')
                  span.glyphicon.glyphicon-chevron-right

        #fruitfarm.modal.fade.and.carousel.slide
          .modal-dialog
            .modal-content
              .modal-body
                ol.carousel-indicators
                  li.active(data-target='#fruitfarm', data-slide-to='0')
                  li(data-target='#fruitfarm', data-slide-to='1')
                  li(data-target='#fruitfarm', data-slide-to='2')
                .carousel-inner
                  .item.active
                    img(src='/images/fruitfarm1.jpg', alt='First slide',height="300")
                  .item
                    img(src='/images/fruitfarm2.jpg', alt='Second slide',height="300")
                  .item
                    img(src='/images/fruitfarm3.jpg', alt='Third slide',height="300")
                // /.carousel-inner
                a.left.carousel-control(href='#fruitfarm', role='button', data-slide='prev')
                  br
                  span.glyphicon.glyphicon-chevron-left
                a.right.carousel-control(href='#fruitfarm', role='button', data-slide='next')
                  span.glyphicon.glyphicon-chevron-right

        #lecture.modal.fade.and.carousel.slide
          .modal-dialog
            .modal-content
              .modal-body
                ol.carousel-indicators
                  li.active(data-target='#lecture', data-slide-to='0')
                .carousel-inner
                  .item.active
                    img(src='/images/christalking.jpg', alt='First slide',height="300")



        #summerworkshop.modal.fade.and.carousel.slide
          .modal-dialog
            .modal-content
              .modal-body
                ol.carousel-indicators
                  li.active(data-target='#summerworkshop', data-slide-to='0')
                  li(data-target='#summerworkshop', data-slide-to='1')
                  li(data-target='#summerworkshop', data-slide-to='2')
                  li(data-target='#summerworkshop', data-slide-to='3')
                .carousel-inner
                  .item.active
                    img(src='/images/summer_workshop1.jpg', alt='First slide',height="300")
                  .item
                    img(src='/images/summer_workshop2.jpg', alt='Second slide',height="300")
                  .item
                    img(src='/images/summer_workshop3.jpg', alt='Third slide',height="300")
                  .item
                    img(src='/images/summer_workshop4.jpg', alt='Third slide',height="300")
                // /.carousel-inner
                a.left.carousel-control(href='#summerworkshop', role='button', data-slide='prev')
                  span.glyphicon.glyphicon-chevron-left
                a.right.carousel-control(href='#summerworkshop', role='button', data-slide='next')
                  span.glyphicon.glyphicon-chevron-right
        
        #summerworkshop2017.modal.fade.and.carousel.slide
          .modal-dialog
            .modal-content
              .modal-body
                ol.carousel-indicators
                  li.active(data-target='#summerworkshop2017', data-slide-to='0')
                  li(data-target='#summerworkshop2017', data-slide-to='1')
                .carousel-inner
                  .item.active
                    img(src='/images/matt1.jpg', alt='First slide',height="300")
                  .item
                    img(src='/images/haley.jpg', alt='Second slide',height="300")
                // /.carousel-inner
                a.left.carousel-control(href='#summerworkshop2017', role='button', data-slide='prev')
                  span.glyphicon.glyphicon-chevron-left
                a.right.carousel-control(href='#summerworkshop2017', role='button', data-slide='next')
                  span.glyphicon.glyphicon-chevron-right