doctype html
html.no-js(lang='en')
  head
    script.
      $(document).ready(function () {
      $('.dropdown-toggle').dropdown();
      });

    // title and meta
    meta(charset='utf-8')
    meta(content='width=device-width,initial-scale=1.0', name='viewport')
    title Events
    // css
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Slab')
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    //link(rel="stylesheet",href="https://raw.githubusercontent.com/noreiller/bootstrap-modal-carousel/master/src/less/carousel-fit.less")
    script(src="/javascripts/bootstrap.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src='/javascripts/validate_form.js')
    script(src='/javascripts/bootstrap.min.js')
    //script(src='https://raw.githubusercontent.com/noreiller/bootstrap-modal-carousel/master/src/js/modal-carousel.js')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/submenu.css')

  body.bg
    window.alert("hello")
    nav.navbar-default
      .container-fluid
        ul.nav.navbar-default.navbar-nav.navbar
          li
            a(href='/') Home
          li
            a(href='/about') About
          li
            a.active-page(href='/events') Events
          li
            a(href='/publications') Publications
          li
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Tools
              b.caret
            ul.dropdown-menu.multi-level
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Fragaria vesca
                ul.dropdown-menu
                  li
                    a(href='http://mb3.towson.edu/efp/cgi-bin/efpWeb.cgi') EFP
                  li
                    a(href='http://ec2-34-233-137-39.compute-1.amazonaws.com:3838/fvesca/') Coexpression Network
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Rubus idaeus
                ul.dropdown-menu
                  li
                    a(href='/rubus_form') EFP
                  li
                    a(href='/rubus_batch_form') Batch Analysis
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Prunus persica
                ul.dropdown-menu
                  li
                    a(href='/peach_form') EFP
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Malus domestica
                ul.dropdown-menu
                  li
                    a(href='/apple_form') EFP
              li
                a(href='/compare') Compare
    block content
