doctype html
html.no-js(lang='en')
  head
    // title and meta
    meta(charset='utf-8')
    meta(content='width=device-width,initial-scale=1.0', name='viewport')
    title The Rosaceae Project
    // js
    script(src="https://cdn.rawgit.com/eligrey/Blob.js/0cef2746414269b16834878a8abc52eb9d53e6bd/Blob.js")
    script(src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js")
    script(src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src='http://jquery-imagefit-plugin.googlecode.com/svn/trunk/jquery.imagefit-0.2.js')
    script(src='http://html2canvas.hertzen.com/build/html2canvas.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/modernizr.js')
    script(src='/javascripts/rainbow.js')
    script(src='/javascripts/plotly-latest.min.js')
    script(src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js")
    script(src='/javascripts/rainbow.js')
    script(src='/javascripts/html2canvas.js')
    script(src='/javascripts/comparative_viewer.js')
    link(rel='stylesheet', href='/stylesheets/submenu.css')
    // css
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet",href='/stylesheets/rubus_response_style.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    body
      nav.navbar-default
        .container-fluid
          ul.nav.navbar-default.navbar-nav.navbar
            li
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/events') Events
            li
              a(href='/publications') Publications
            li
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Tools
                b.caret
              ul.dropdown-menu.multi-level
                li.dropdown-submenu
                  a.dropdown-toggle(href='#', data-toggle='dropdown') Fragaria vesca
                  ul.dropdown-menu
                    li
                      a(href='http://mb3.towson.edu/efp/cgi-bin/efpWeb.cgi') EFP
                    li
                      a(href='https://tinyurl.com/liuCoexp') Coexpression Network
                li.dropdown-submenu
                  a.dropdown-toggle(href='#', data-toggle='dropdown') Rubus idaeus
                  ul.dropdown-menu
                    li
                      a(href='/rubus_form') EFP
                    li
                      a(href='/rubus_batch_form') Batch Analysis

                li.dropdown-submenu
                  a.dropdown-toggle(href='#', data-toggle='dropdown') Prunus persica
                  ul.dropdown-menu
                    li
                      a(href='#') EFP-coming soon!
                    li
                      a(href='https://tinyurl.com/peach-LiuCoexp') Coexpression Network
                li.dropdown-submenu
                  a.dropdown-toggle(href='#', data-toggle='dropdown') Malus domestica
                  ul.dropdown-menu
                    li
                      a(href='#') EFP-coming soon!
                    li
                      a(href='https://tinyurl.com/apple-LiuCoexp') Coexpression Network
                li
                  a(href='/compare') Compare
    h1#geneName
    p.hidden#json_res= response
    p.hidden#species= species
    .Ortho
      h3 Orthologues
      div.orth_list
        p#fv Fragaria vesca
          ul#frag
        p#ri Rubus idaeus 
          ul#rubus
        p#md Malus domestica
          ul#malus
        p#pp Prunus persica
          ul#prunus
        p#pc Pyrus communis
          ul#pyrus