doctype html
html.no-js(lang='en')
  head
    // title and meta
    meta(charset='utf-8')
    meta(content='width=device-width,initial-scale=1.0', name='viewport')
    title The Rosaceae Project
    // js
    script(src="https://cdn.rawgit.com/eligrey/Blob.js/0cef2746414269b16834878a8abc52eb9d53e6bd/Blob.js")
    script(src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js")
    script(src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    //script(src='http://jquery-imagefit-plugin.googlecode.com/svn/trunk/jquery.imagefit-0.2.js')
    script(src='http://html2canvas.hertzen.com/build/html2canvas.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/modernizr.js')
    script(src='/javascripts/rainbow.js')
    script(src='/javascripts/plotly-latest.min.js')
    script(src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js")
    script(src='/javascripts/rainbow.js')
    script(src='/javascripts/html2canvas.js')
    script(src='/javascripts/comparative_viewer.js')
    link(rel='stylesheet', href='/stylesheets/submenu.css')
    // css
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/one-page-wonder.css')
    link(rel='stylesheet', href='/stylesheets/format_img.css')
  body
      nav.navbar-default
        .container-fluid
          ul.nav.navbar-default.navbar-nav.navbar
            li
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/events') Events
            li
              a(href='/publications') Publications
            li
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Tools
                b.caret
              ul.dropdown-menu.multi-level
                li.dropdown-submenu
                  a.dropdown-toggle(href='#', data-toggle='dropdown') Fragaria vesca
                  ul.dropdown-menu
                    li
                      a(href='http://mb3.towson.edu/efp/cgi-bin/efpWeb.cgi') EFP
                    li
                      a(href='http://ec2-34-233-137-39.compute-1.amazonaws.com:3838/fvesca/') Coexpression Network
                li.dropdown-submenu
                  a.dropdown-toggle(href='#', data-toggle='dropdown') Rubus idaeus
                  ul.dropdown-menu
                    li
                      a(href='/rubus_form') EFP
                    li
                      a(href='/rubus_batch_form') Batch Analysis

                li.dropdown-submenu
                  a.dropdown-toggle(href='#', data-toggle='dropdown') Prunus persica
                  ul.dropdown-menu
                    li
                      a(href='/peach_form') EFP
                li.dropdown-submenu
                  a.dropdown-toggle(href='#', data-toggle='dropdown') Malus domestica
                  ul.dropdown-menu
                    li
                      a(href='/apple_form') EFP
                li
                  a(href="/compare") Compare

      nav
        .container-fluid(style="background-color: lightgray;")
          ul.list-inline(style="justify-content: center;display:flex; padding-top:.25cm;")
            li Orthologues:
            li#fv
              a(href='#frag_vesca') Fragaria vesca
            li#ri 
              a(href='#rubus_id') Rubus idaeus
            li#md 
              a(href='#malus_dom') Malus domestica
            li#pp 
              a(href='#prunus_pers') Prunus persica
            li
              a(href='#descriptions') Image descriptions
            li
              a(href='#raw_counts_container') Raw Data


      .scale(style="position:fixed;right:0px;")
        p4#scale_header log(tpm)
        canvas#myCanvas(width='200', height='30')
        .contain
          div#l1 1
          div#l2 2
          div#l3 3
          div#l4 4
        button.btn-default.button.-regular#z_score(type='button',onclick="tpm_to_z()",style="z-index:2;") Z-Score
        button.btn-default.button.-regular#log_tpm(type='button',onclick="z_to_tpm()",style="z-index:2;") log(tpm)

    p.hidden.aGene#json_res= response
    p.hidden#species= species
    
    br
    br
    .container
      #current_gene.featurette
      #frag_vesca.featurette
        hr.featurette-divider
      #rubus_id.featurette
        hr.featurette-divider
      #malus_dom.featurette
        hr.featurette-divider
      #prunus_pers.featurette
        hr.featurette-divider
      #descriptions
        hr.featurette-divider
        h3 Image Descriptions
        button.btn.btn-default.button.-regular#wall_button(type='button',onclick="show_descriptor('wall')") Ovary Wall
        button.btn.btn-default.button.-regular#seed_button(type='button',onclick="show_descriptor('seed')") Seed
        button.btn.btn-default.button.-regular#embryo_button(type='button',onclick="show_descriptor('embryo')") Embryo
        button.btn.btn-default.button.-regular#receptacle_button(type='button',onclick="show_descriptor('receptacle')") Receptacle/Pedicel
        button.btn.btn-default.button.-regular#hypanthium_button(type='button',onclick="show_descriptor('hypanthium')") Hypanthium

        .images_description
          img#allout(src="/images/all_outline-01.png",style="z-index:2;")
          img#embryo.description(src="/images/all_embryo-01.png",style="display:none;")
          img#wall.description(src="/images/all_wall-01.png",style="display:none;")
          img#receptacle.description(src="/images/all_receptacle-01.png",style="display:none;")
          img#seed.description(src="/images/all_seed-01.png",style="display:none;")
          img#hypanthium.description(src="/images/all_hypanthiuim-01.png",style="display:none;")
      
      #raw_counts_container(style="position:relative;")
        hr.featurette-divider
        h3 Raw Counts
        button.btn.btn-default.myButton#showButton(type='button', onclick = "show_raw()")
          span.glyphicon.glyphicon-plus
        button.btn.btn-default.myButton#hideButton(type='button', onclick = "hide_raw()")
            span.glyphicon.glyphicon-minus
        #raw_counts(style="overflow:scroll;height:350px;position:relative")
          #rubus_table(style="top:0px;position:absolute")
          #prunus_table(style="top:0px;left:25%;position:absolute")
          #frag_table(style="top:0px;left:50%;position:absolute")
          #malus_table(style="top:0px;left:75%;position:absolute")









