extends layout
block content

    h1(style="text-align:center;padding:5px;").center-block= title
    p(style="text-align:center;").center-block Please enter the gene id of interest
    form.center-block(method="post",action="/peach_response",name='myForm',onsubmit="return validateForm2()")
          p
          input#inputUserName.center-block(type="text", placeholder="PPE_001G00230", name="gene")   
          br
          br
          button#btnSubmit.center-block(type="submit") submit
          
