extends layout

block content
    h1(style="text-align:center;padding:5px;") Publications
    p(style="text-align:left;padding:5px;margin:7px;")  Charles Hawkins, Julie Caruana, Erin Schiksnis, and Zhongchi Liu (2016)
      a(href='https://www.nature.com/articles/srep29017')  Genome-scale DNA variant analysis identifies a SNP that underlies the yellow fruit color in wild strawberry.
      strong  Scientific Report
      |  Jul 5;6:29017. doi: 10.1038/srep29017.
    p(style="text-align:left;padding:5px;margin:7px;") Charles Hawkins, Julie Caruana, Jiaming Li, Omar Darwish, Chris Zawora, Jun Wu, Nadim Alkharouf, and Zhongchi Liu (2017)
      a(href='https://www.nature.com/articles/hortres201729')  An eFP browser for visualizing strawberry fruit and flower transcriptomes
      strong  Horticulture Research
      |  4, Article number: 17029 doi:10.1038/hortres.2017.29
    p(style="text-align:left;padding:5px;margin:7px;") Chunying Kang and Zhongchi Liu (2017)
      a(href='#')  An easy-to-follow pipeline for long non-coding RNA identification: a case study in diploid strawberry Fragaria vesca during development.
      strong  Methods in Mol. Biol.
      |  (In Press).
    br
    br
    h1(style="text-align:center;padding:5px;") Time Lapse Video
    .videoWrapper
      iframe(style="display: block;margin-left: auto;margin-right: auto;",width='420', height='315', src="https://www.youtube.com/embed/-1UYPNSv04k")
      p(style="text-align:center;padding:5px;") Credit: Kelsey Galimba, a NSF-funded postdoc on this project
