extends layout

block content
    h1(style="text-align:center;padding:5px;") Publications
    p(style="text-align:center;padding:5px;")
      a(href='https://www.nature.com/articles/hortres201729') An eFP browser for visualizing strawberry fruit and flower transcriptomes
    br
    br
    h1(style="text-align:center;padding:5px;") Time Lapse Video
    iframe(style="margin-left:25%;",width='420', height='315', src="https://www.youtube.com/embed/-1UYPNSv04k")
    p(style="text-align:center;padding:5px;") Credit: Kelsey Galimba, a NSF-funded postdoc on this project
