doctype html
html.no-js(lang='en')
  head
    script.
      $(document).ready(function () {
      $('.dropdown-toggle').dropdown();
      });

    // title and meta
    meta(charset='utf-8')
    meta(content='width=device-width,initial-scale=1.0', name='viewport')
    title Publications
    // css
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Slab')
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    //link(rel="stylesheet",href="https://raw.githubusercontent.com/noreiller/bootstrap-modal-carousel/master/src/less/carousel-fit.less")
    script(src="/javascripts/bootstrap.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src='/javascripts/bootstrap.min.js')
    //script(src='https://raw.githubusercontent.com/noreiller/bootstrap-modal-carousel/master/src/js/modal-carousel.js')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/submenu.css')
  body.bg
    nav.navbar-default
      .container-fluid
        ul.nav.navbar-default.navbar-nav.navbar
          li
            a(href='/') Home
          li
            a(href='/about') About
          li
            a.active-page(href='/events') Events
          li.active
            a(href='/publications') Publications
          li
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Tools
              b.caret
            ul.dropdown-menu.multi-level
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Fragaria vesca
                ul.dropdown-menu
                  li
                    a(href='http://mb3.towson.edu/efp/cgi-bin/efpWeb.cgi') EFP
                  li
                    a(href='https://tinyurl.com/liuCoexp') Coexpression Network
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Rubus idaeus
                ul.dropdown-menu
                  li
                    a(href='/rubus_form') EFP
                  li
                    a(href='/rubus_batch_form') Batch Analysis
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Prunus persica
                ul.dropdown-menu
                  li
                    a(href='/peach_form') EFP
                  li
                    a(href='https://tinyurl.com/peach-LiuCoexp') Coexpression Network
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Malus domestica
                ul.dropdown-menu
                  li
                    a(href='/apple_form') EFP
                  li
                    a(href='https://tinyurl.com/apple-LiuCoexp') Coexpression Network
              li
                a(href="/compare") Compare
    h1(style="text-align:center;padding:5px;") Publications
    p(style="text-align:left;padding:5px;margin:7px;")  Charles Hawkins, Julie Caruana, Erin Schiksnis, and Zhongchi Liu (2016)
      a(href='https://www.nature.com/articles/srep29017')  Genome-scale DNA variant analysis identifies a SNP that underlies the yellow fruit color in wild strawberry.
      strong  Scientific Report
      |  Jul 5;6:29017. doi: 10.1038/srep29017.
    p(style="text-align:left;padding:5px;margin:7px;") Charles Hawkins, Julie Caruana, Jiaming Li, Omar Darwish, Chris Zawora, Jun Wu, Nadim Alkharouf, and Zhongchi Liu (2017)
      a(href='https://www.nature.com/articles/hortres201729')  An eFP browser for visualizing strawberry fruit and flower transcriptomes
      strong  Horticulture Research
      |  4, Article number: 17029 doi:10.1038/hortres.2017.29
    p(style="text-align:left;padding:5px;margin:7px;") Chunying Kang and Zhongchi Liu (2017)
      a(href='#')  An easy-to-follow pipeline for long non-coding RNA identification: a case study in diploid strawberry Fragaria vesca during development.
      strong  Methods in Mol. Biol.
      |  (In Press).
    h1(style="text-align:center;padding:5px;") Data
    p(style="text-align:left;padding:5px;margin:7px;") Annotation files for Fragaria vesca v2.0.a2. This work was contributed by Chunying Kang.
      br
      a(href='/data/Fragaria_vesca_v2.0.a2.transcripts.gff3.gz', download='') Fragaria_vesca_v2.0.a2.transcripts.gff3.gz
      br
      a(href='/data/Fragaria_vesca_v2.0.a2.protein.fa.gz', download='') Fragaria_vesca_v2.0.a2.protein.fa.gz 

    br
    br
    h1(style="text-align:center;padding:5px;") Time Lapse Video
    .videoWrapper
      iframe(style="display: block;margin-left: auto;margin-right: auto;",width='420', height='315', src="https://www.youtube.com/embed/-1UYPNSv04k")
      p(style="text-align:center;padding:5px;") Credit: Kelsey Galimba, a NSF-funded postdoc on this project
