doctype html
html.no-js(lang='en')
  head
    script.
      $(document).ready(function () {
      $('.dropdown-toggle').dropdown();
      });
    style.
      .mybutton{
      padding: 0;
      margin-top: 30px;
      border: none;
      background: none;
      color: #B22222;
      font-weight: bold;
      }
      #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      }
      @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
      }
      @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
      }
    // title and meta
    meta(charset='utf-8')
    meta(content='width=device-width,initial-scale=1.0', name='viewport')
    title Rubus Batch
    // css
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Slab')
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    //link(rel="stylesheet",href="https://raw.githubusercontent.com/noreiller/bootstrap-modal-carousel/master/src/less/carousel-fit.less")
    script(src="/javascripts/bootstrap.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/plotly-latest.min.js')
    script(src='/javascripts/batch_analysis.js')
    //script(src='https://raw.githubusercontent.com/noreiller/bootstrap-modal-carousel/master/src/js/modal-carousel.js')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/submenu.css')
  body.bg
    nav.navbar-default
      .container-fluid
        ul.nav.navbar-default.navbar-nav.navbar
          li
            a(href='/') Home
          li
            a(href='/about') About
          li
            a.active-page(href='/events') Events
          li
            a(href='/publications') Publications
          li
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Tools
              b.caret
            ul.dropdown-menu.multi-level
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Fragaria vesca
                ul.dropdown-menu
                  li
                    a(href='http://mb3.towson.edu/efp/cgi-bin/efpWeb.cgi') EFP
                  li
                    a(href='http://ec2-34-233-137-39.compute-1.amazonaws.com:3838/fvesca/') Coexpression Network
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Rubus idaeus
                ul.dropdown-menu
                  li
                    a(href='/rubus_form') EFP
                  li
                    a(href='/rubus_batch_form') Batch Analysis
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Prunus persica
                ul.dropdown-menu
                  li
                    a(href='/peach_form') EFP
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Malus domestica
                ul.dropdown-menu
                  li
                    a(href='/apple_form') EFP
              li
                a(href="/compare") Compare
    h1(style="text-align:center;padding:5px;") Rubus Batch Analysis
    img#loader(src="/images/raspberry.png",style="display:none;")
    button.mybutton#groupBySomething(style="display: block;margin-left: auto;margin-right: auto;",type="button",onclick="groupBy(this.innerHTML)") View As Z-Score
    form#form(method="post",action="/rubus_batch",name="myForm")
        p(style="text-align:center;padding:5px;") Add a comma separated list of genes below
        textarea#genelist(style="display: block;margin-left: auto;margin-right: auto;",cols="45",rows="5",placeholder="Bras_G00018, Bras_G00054, Bras_G00078,...", name="gene")
        p
        button#btnSubmit(style="display: block;margin-left: auto;margin-right: auto;",type="button",onclick="db_calls()") Submit
    #responses.hidden
    #myDiv(style='width: 580px; height: 500px; display: block;margin-left: auto;margin-right: auto;')
    #chart
    #not_found
