doctype html
html
  head
    title= title
    link(rel="stylesheet","/stylesheets/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="/javascripts/bootstrap.js")
    script(src='/javascripts/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
    script(src='/javascripts/batch_analysis.js')
    link(rel='stylesheet', href='/stylesheets/submenu.css')
    script.
      $(document).ready(function () {
      $('.dropdown-toggle').dropdown();
      });


  body.bg
    nav.navbar
      .container-fluid
        ul.nav.navbar-nav
          li.active
            a(href='/') Home
          li.active
            a(href='/about') About
          li.active
            a(href='/events') Events
          li.active
            a(href='/publications') Publications
          li
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Tools
              b.caret
            ul.dropdown-menu.multi-level
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Fragaria vesca
                ul.dropdown-menu
                  li
                    a(href='http://mb3.towson.edu/efp/cgi-bin/efpWeb.cgi') EFP
                  li
                    a(href='https://tinyurl.com/liuCoexp') Coexpression Network
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Rubus idaeus
                ul.dropdown-menu
                  li
                    a(href='/rubus_form') EFP
                  li
                    a(href='/rubus_batch_form') Batch Analysis
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Prunus persica
                ul.dropdown-menu
                  li
                    a(href='#') EFP-coming soon!
                  li
                    a(href='https://tinyurl.com/peach-LiuCoexp') Coexpression Network
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown') Malus domestica
                ul.dropdown-menu
                  li
                    a(href='#') EFP-coming soon!
                  li
                    a(href='https://tinyurl.com/apple-LiuCoexp') Coexpression Network
              li
                a(href="/compare") Compare
    p#json= gene_info
    p Hello
    p= message
