extends layout

block content

    h1(style="text-align:center;padding:5px;").center-block= title
    p(style="text-align:center;").center-block Please enter the gene id of interest
    form.center-block(method="post",action="/rubus_response")
          p
          input#inputUserName.center-block(type="text", placeholder="Bras_G00018", name="gene")
          p
          button#btnSubmit.center-block(type="submit") submit
