.contain > div {
    display: inline-block;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 45px;
    font-size:.7em;
    margin-left: 50px;
}

.content > h3{
    margin-left: 10px;
}

.scale {
  width: 100%;
  font-size: .8em;
  margin-left: 10px;
  /*text-align: center;*/
}


body{
  overflow-y:scroll;
  overflow-x: hidden;
}

#geneName{
  text-align: center;
  padding-bottom: 2em;
  padding-top:1.5em;
  border-bottom: 1px solid lightgray;
}

/*the modal*/
#EFP {
position: absolute;
top:1%;
left:80%;
}
.modal-dialog {
    max-height: 800px;
    max-width: 350px;
}

#overwrite{
  max-height: 800px;
  max-width: 800px;
}

.EFP{
  position: relative;
  top:10px;
  left:5px;
  right:5px;
  width:100%;
  height:450px;
}

.BarGraph,.Raw,.Ortho {
  position: relative;
  border-top: solid lightgray 2px;
  top:0px;
  padding-left: 15px;
}


.stage_0{
  position:absolute;
  left:7%;
  top:25%;
  height:25%;
}

.stage0_cap{
  position:absolute;
  left:12%;
  top:48%;
}

.stage_2{
  position:absolute;
  left:40%;
  top:25%;
  height:25%;
}

.stage2_cap{
  position:absolute;
  left:45%;
  top:48%;
}


.stage_4{
  position:absolute;
  right:7%;
  top:25%;
  height:25%;
}

.stage4_cap{
  position:absolute;
  right:12%;
  top:48%;
}

.stage_6{
  position:absolute;
  left:7%;
  top:60%;
  height:25%;
}

.stage6_cap{
  position:absolute;
  left:12%;
  top:83%;
}

.stage_9{
  position:absolute;
  left:40%;
  top:60%;
  height:25%;
}

.stage9_cap{
  position:absolute;
  left:45%;
  top:83%;
}
.stage_12{
  position:absolute;
  right:7%;
  top:60%;
  height:25%;
}

.stage12_cap{
  position:absolute;
  right:12%;
  top:83%;
}

.outer{
  width:100%;
  text-align: center;
}
.inner{
  display: inline-block;
}

.myButton{
  border: none;
  padding: 0;
  background: none;
  position:absolute;
  top:10px;
  margin-left:90%;
}
